:root {
  --bgface: #4267b2;
}

body {
  background-color:#e9ebee !important;
}

ul {
  list-style-type: none;
}

/* nav section */
.navbar {
  height: 42px !important;
  background-color: var(--bgface) !important;
}

.navbar-brand {
  color: white !important;
  font-size: 26px !important;
}

.form-inline input {
  height: 24px;
  padding-right: 160px;
}

#search {
  width: 24px;
  height: 24px;
  position: relative;
  bottom: 7px;
  right: 12px;
  color: #7e7e7e;
}

.btn-search {
  width: 24px;
  height: 24px;
  font-size: 10px;
}

.nav-link {
  color: white;
}
.nav-link:hover{
  color: white;
  background-color: #355391;
}

#profile div img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  top: 7px;
  left: 5px;
}

/* menu side bar */
.pro-menu {
  position: relative;
  left: 12px;
}

.pro-menu div img {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.list-menu {
  position: relative;
  right: 25px;
}


/* new feed */
.feed {
  width: 100% !important;
  background-color: white !important;
}

.feed-pro div img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.feed-pro .col-auto{
  padding-right: 8px;
}

.feed-pro .name {
  margin: 0;
  padding: 0;
}
.feed-pro .name p{
  margin: 0;
  padding: 0;
}
.feed-pro .name small{
  position: relative;
  bottom: 5px;
  margin: 0;
  padding: 0;
}


/* right side menu */

.right-side .card {
  width: 315px;
}
.right-side .card .card-body {
  padding: 10px 5px 10px 12px;
}

.games img {
  width: 80px;
  height: 100px;
  margin-left: 20px;
}

